<nav class="nav" role="navigation">
    <a class="item" href="/">Úvod</a><!--
    --><a class="item" href="#">Praktické informace</a><!--
    --><a class="item" href="#">Jak šel čas</a><!--
    --><a class="item" href="/dary">Svatební dary</a>
</nav>