<nav class="nav" role="navigation">
    <a n:class="item, $current=='home' ? active" href="/">Úvod</a><!--
    --><a n:class="item, $current=='informace' ? active" href="/informace">Praktické informace</a><!--
    --><a n:class="item, $current=='jakselcas' ? active"  href="/jakselcas">Jak šel čas</a><!--
    --><a n:class="item, $current=='dary' ? active" href="/dary">Svatební dary</a>
</nav>
