.button { display: block;text-align: center; width: 100%;  margin: 1em 0 0; padding: .32em 0;}
.button.call { color: @green; background: @lightgreen; border: solid 1px @green; border-radius: 1rem; transition: color 300ms, background 300ms; }
.button.call:hover, .button.call:focus { color: white; background: @green; }
.button.disabled {border-top: solid 1px @grey;border-bottom: solid 1px @grey;}
.message { text-align: center; width: 70vw; margin: 1em auto;  padding: 0.32em 2em; }
.message.success { background: @lightgreen; color: @green; border-top: solid 1px @green;border-bottom: solid 1px @green;}
.message.error{ background: @lightorange; color: @orange; border-top: solid 1px @orange;border-bottom: solid 1px @orange;}
.message.inform{ color: @black; border-top: solid 1px @black;border-bottom: solid 1px @black;}
.message.inform a {color: @blue; border: solid 1px transparent; transition: border 300ms}
.message.inform a:hover {border-top: solid 1px @blue; border-bottom: solid 1px @blue}
